<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

      <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>


    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- index.js는 회원가입이 안 되어 있는 곳 = 홈화면이 보이긴 하나,
      무엇이든 클릭하면 회원가입으로 넘어가도록!-->
    <% include ./../layout/loginheader.ejs %>
    <% include ./../layout/category.ejs %>

    <div>
      <div class="row">
        <div class="col-2">
          <!-- 안에 들어가는 내용의 height이 500px 미만이면 style="height: 500px" 이렇게 설정-->
          <% include ./../layout/menubar.ejs %>
        </div>
        <div class="col-10" style=" margin-left: -20px;">
          <!-- 내용 들어갈 자리 !!! -->
          <div class="row">
            <h6 id="navtext">HOME > 다이어리</h6>
          </div>
            <h5 class="mt-3 mb-3" style="font-weight: bold;"> 다이어리 상품 (<%=row.length %>) </h5>
            <div class="row row-cols-1 row-cols-md-4 g-5 mb-3">
            <% for (var i=0; i< row.length; i++) { %>
                    <div class="col">
                      <div class="card h-100" onclick="goDetails(<%=row[i].id%>)" style="border-color: #ffe2e2; background-color: #F9F6F6">
                        <img src="/images/<%=row[i].imageurl %>" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h6 class="card-title"><%=row[i].name%></h6>
                            </div>
                        </div>
                    </div>
            <% } %>
        </div>
        </div>
      </div>
    </div>
  </body>
  <% include ./../layout/footer.ejs %>
</html>
<script>
  function goDetails(id) {
    location.href="/consumer/details/" + id;
  }
</script>