<!-- 상품 상세 페이지 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

      <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- index.js는 회원가입이 안 되어 있는 곳 = 홈화면이 보이긴 하나,
      무엇이든 클릭하면 회원가입으로 넘어가도록!-->
    <% include ./../layout/loginheader.ejs %>
    <% include ./../layout/category.ejs %>

    <div>
      <div class="row">
        <div class="col-2" >
          <!-- 안에 들어가는 내용의 height이 500px 미만이면 style="height: 500px" 이렇게 설정-->
          <% include ./../layout/menubar.ejs %>
        </div>
        <div class="col-10">
          <!-- 내용 들어갈 자리 !!! -->
            <div class="container">
              <div class="row mt-1" >
                  <div class="col-5">
                      <div style="border-color: #ffe2e2;">
                          <img src="/images/<%=row.thumbnailimageurl %>" id="DetailImg" alt="...">
                      </div>
                  </div>
                  <div class="col-7">
                      <h3 id="goodsName" style="font-weight: bold;"> <%= row.name%></h3>
                      <div class="row mt-4">
                          <h5>made by <%= storename %>
                            <button class="btn btn-sm " id="gotoShop" style="background-color: #DFE7F6; border-radius: 15px; box-shadow: #ced5e0 1px 1px 1px;">이 작가의 상품 더보기 
                              <i class="bi bi-arrow-right-circle"></i>
                            </button>
                          </h5>
                          <h6>구매후기</h6>
                      </div>
                      <hr />
                      <div class="text text-end" style="margin-right: 40px;"><h3 style=" font-weight: bolder;"><%= row.price%>원</h3></div>
                      <div class="row " style="margin-right: -20px;">
                          <div class="col-8"></div>
                          <div class="col-4 mt-2" >
                              <button class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                onclick="intoMycart(<%= row.id %>)" id="cartbtn">장바구니</button>
                              <button class="btn" id="buybtn" style="background-color: #191B5E; color: #ffffff;"
                               onclick="buy(<%= row.id %>)">구매하기</button>
                               <button class="btn" id="chatbtn" style="background-color: #191B5E; color: #ffffff;"
                               onclick="location.href='/chat/enter/<%=row.id%>'">1:1 문의</button>

                              <!-- Modal -->
                              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h1 class="modal-title fs-5" id="exampleModalLabel">🛍️ 장바구니 담기 완료 ! ✨</h1>
                                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                      <%= row.name %> 을 장바구니에 담았습니다!
                                    </div>
                                    <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" onclick="not()" data-bs-dismiss="modal">쇼핑 계속하기</button>
                                      <button type="button" onclick="gotoCart()" class="btn btn-primary">장바구니 확인</button>
                                    </div>
                                  </div>
                                </div>
                              </div>


                          </div>
                      </div>
                  </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="container">
                <!-- 탭 메뉴 상단 시작 -->
                  <ul class="tabs" style="margin-left :20px;">
                    <li class="tab-link current" data-tab="tab-1">상세정보</li>
                    <li class="tab-link" data-tab="tab-2">리뷰</li>
                    <li class="tab-link" data-tab="tab-3">Q&A</li>
                  </ul>
                  <!-- 탭 메뉴 내용 시작 -->
                  <div id="tab-1" class="tab-content current">
                    <h5> 📌 상세 정보 </h5>
                    <h6><%= row.detail %></h6>
                  </div>
                  <div id="tab-2" class="tab-content">
                  <h5> 사용자 총 평점 </h5>
                  <h2 style="font-weight:900;"><%=staravg%></h2>
                  <!-- <div class="star-ratings">
                    <div style='position:absolute; width:max-content; overflow:hidden; color:#dbd5d5;'>
                      <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
                    </div>
                    <div style='position:absolute; width:'+(4.7/5*90)+'px; overflow:hidden; white-space:nowrap; color:rgb(11, 0, 170);'>
                      <span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span><span>⭐</span>
                    </div>
                  </div> -->
                  <br/><br/>
                  <h5>  리뷰 <%=review.length%>건  </h5>
                  <hr/>
                  <% for(let i=0; i<review.length; i++) { %>
                    <%for (let j=0; j<review[i].star; j++) {%>
                      <span style="float: left;">⭐</span>
                    <%}%>
                    <p style="font-weight: 700;"><%=review[i].star%></p>
                    <p style="float: left;margin-right: 10px;"><%=userName[i]%></p>
                    <p ><%=review[i].date%></p>
                    <h5><%=review[i].content%></h5>
                    
                  <%}%>
                  <div id="tab-3" class="tab-content">
                  <h1>  탭 메뉴 3 내용입니다.  </h1>
                <p>대한민국은 국제평화의 유지에 노력하고 침략적 전쟁을 부인한다. 국군의 조직과 편성은 법률로 정한다. 타인의 범죄행위로 인하여 생명·신체에 대한 피해를 받은 국민은 법률이 정하는 바에 의하여 국가로부터 구조를 받을 수 있다. 모든 국민은 법률이 정하는 바에 의하여 공무담임권을 가진다. 모든 국민은 소급입법에 의하여 참정권의 제한을 받거나 재산권을 박탈당하지 아니한다.</p>
                  </div>
                <!-- 탭 메뉴 내용 끝 -->
                </div>
              
            </div>
        </div>

        </div>
      </div>
    </div>

    <script>
      $(document).ready(function(){
	
	$('ul.tabs li').click(function(){							//선택자를 통해 tabs 메뉴를 클릭 이벤트를 지정해줍니다.
		var tab_id = $(this).attr('data-tab');

		$('ul.tabs li').removeClass('current');			//선택 되있던 탭의 current css를 제거하고 
		$('.tab-content').removeClass('current');		

		$(this).addClass('current');								////선택된 탭에 current class를 삽입해줍니다.
		$("#" + tab_id).addClass('current');
	})

});

    </script>
  </body>
  <% include ./../layout/footer.ejs %>
</html>

<script>
  function buy(id){
    location.href="/consumer/buy/" + id;
  }

  function intoMycart(id){
    location.href="/consumer/mycart/" + id;
  }
  function gotoCart() {
    location.href="/consumer/mycartlist";
  }
  function not() {
    location.reload();
  }
</script>