<!-- 상품 상세 페이지 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

      <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=G-S5M9QB9WB7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-S5M9QB9WB7');
    </script>

    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- index.js는 회원가입이 안 되어 있는 곳 = 홈화면이 보이긴 하나,
      무엇이든 클릭하면 회원가입으로 넘어가도록!-->
    <% include ./../layout/loginheader.ejs %>
    <% include ./../layout/category.ejs %>

    <div>
      <div class="row" style="min-height: 550px;">
        <div class="col-2" >
          <!-- 안에 들어가는 내용의 height이 500px 미만이면 style="height: 500px" 이렇게 설정-->
          <% include ./../layout/menubar.ejs %>
        </div>            
        <div id="pop_info_1" class="pop_wrap" style="display:none;">
            <div class="pop_inner">
              <p class="dsc">포인트 충전</p>
              <form class="validation-form" id="addpnt" onsubmit= "return confirm('포인트를 충전하시겠습니까?');" action="/consumer/addPoint" method = "post" >
                <table width="600px" height="200px" style="margin-top: 30px;">
                  <th></th> <!-- 1열-->
                  <th></th> <!-- 2열-->
                  <tr> <!-- 첫번째 줄 시작-->
                    <td>보유 포인트</td>
                    <td style="font-weight: bold;"><%=point.point %></td>
                  </tr>
                  <tr>
                    <td>충전할 포인트</td>
                    <td style="font-weight: bold;">
                      <input class="form-control form-control-sm" name="addpoint" type="int" style="width: 200px;">
                  </td>
                  </tr>
                  <tr>
                    <td><button class="btn" id="addbtn" type="submit" style="background-color: #DFE7F6;">포인트 충전</button></td>
                  </tr>
                </table>
              </form>
                  <button type="button" class="btn_close">닫기</button>
              </div>
          </div>
        <div class="col-10">
          <!-- 내용 들어갈 자리 !!! -->
          

            <div class="row">
              <!-- <form class="validation-form"  enctype="multipart/form-data" id = "purchase" action="/consumer/buy/<%=row.id%>/bycom" method = "post" > -->
                <div class="row">
                  <h6 id="navtext">HOME > <%= row.name%> > 구매</h6>
                </div>
                <div class="row">
                  <div class="col-12 col-md-10" style="margin-left: 20px;">
                    <form class="validation-form"  enctype="multipart/form-data" id = "purchase" action="/consumer/buy/bycom/<%=row.id%>" 
                      onsubmit="return buy(<%= point.point%>, <%= row.price %>,<%=row.id%>)" method = "post" >
                    <div class="row mt-3 mb-3">
                        <h5 >주문 상품 정보</h5>
                        <hr />
                        <div class="col-5">
                        <div style="border-color: #ffe2e2; background-color: #d9d9d9">
                            <img src="/images/<%=row.thumbnailimageurl %>" class="card-img-top"  alt="...">
                        </div>
                        </div>
                    
                        <div class="col-7">
                            <h5 id="goodsName" style="font-weight: bold;"> <%= row.name%></h5>
                            <div class="row mt-4">
                                <h5>made by <%= row.sellerId %></h5>
                                <h5 style="font-weight: bold;"><%= row.price %>원</h5>
                            </div>
                        
                        </div>
                    </div>

                    <div class="row mt-5 mb-3">
                        <h5>주문자 정보</h5>
                        <hr />
                        <div class="col-7">
                            <h4 id="goodsName" style="font-weight: bold;"> <%= consum.name%></h4>
                            <h6><%=consum.email%></h6>
                            <h6><%=consum.phonenum%></h6>
                        </div>
                    </div>

                    <div class="row mt-5 mb-3">
                        <h5>보유 포인트</h5>
                        <hr />
                        <div class="col-7">
                            <h4 id="goodsName" style="font-weight: bold;"> <%= point.point%></h4>
                            <button type = "button" class="btn btn-open" href="#pop_info_1" id="btn-open" onclick="location.href='#pop_info_1';"  style="background-color: #DFE7F6;" >포인트 충전</button>
                        </div>
                    </div>

                    <div class="row mt-5 mb-3">
                        <h5>약관</h5>
                        <hr />
                        <div class="terms__check__all">
                            <input type="checkbox" name="check" id="check" />
                                아래의 환불 유의사항을 확인했으며, 이에 동의합니다. (필수) </br>
                                able 운영정책에 따라, 디지털 콘텐츠 환불을 구매시점으로부터 3일 이내에만 가능합니다. </br>
                                따라서 상품 구매 직후, 상품에 오류가 없는지 확인해주세요.
                          </div>
                    </div>
                    
                  <input class="btn btn-lg btn-block mb-3" id="tobuy" type="submit"
                        style="background-color: #191B5E; color: #ffffff;"
                        value="결제하기"
                        ></input>

                  </form>
                  </div>
                  <div class="col"></div>
                </div>
                
            
                        

                
            </div>

        </div>

        
      </div>
    </div>

  </body>
  <% include ./../layout/footer.ejs %>
</html>

<script>
      var target = document.querySelectorAll('.btn-open');
      var btnPopClose = document.querySelectorAll('.pop_wrap .btn_close');
      var targetID;
      // 팝업 열기
      for(var i = 0; i < target.length; i++){
          target[i].addEventListener('click', function(){
              targetID = this.getAttribute('href');
              document.querySelector(targetID).style.display = 'block';
          });
      }
      // 팝업 닫기
      for(var j = 0; j < target.length; j++){
          btnPopClose[j].addEventListener('click', function(){
              this.parentNode.parentNode.style.display = 'none';
          });
      }

function addPoint(){
  location.href = "/consumer/addPoint";
}


// document.querySelector('tobuy').onclick = function(event){
//         if(!document.getElementById('check').checked)
//         {
//           alert("약관에 동의하세요");
//           return false;
//         }
//         else{
//         // if (point >= price){
//         //   if(confirm("정말 구매하시겠습니까?") == true){
//         //         }
//         // }
//         // else {
//         //   alert("구매 불가.", location.href='/consumer/addpoint');
//         // }

//     // alert("구매하기");
//     }
//     };
     



  function buy(point, price,id){
    const check = document.getElementById('check');
    const is_checked = check.checked;


    console.log(point, price);

    if (!is_checked){
        alert("약관에 동의하세요");
        return false;
    }
    
    else{
        if (point >= price){
          if(confirm("정말 구매하시겠습니까?") == true){
                    return true;
                }
        }
        else {
          if(confirm("포인트가 부족합니다. 포인트를 충전하시겠습니까?") == true){
            location.href='/consumer/addpoint';
            return false;
          }
          else {
            location.reload();
            return false;
          }
           
        }

        
    // alert("구매하기");
    }
  }
</script>