<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

      <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>


    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- index.jsλ” νμ›κ°€μ…μ΄ μ• λμ–΄ μλ” κ³³ = ν™ν™”λ©΄μ΄ λ³΄μ΄κΈ΄ ν•λ‚,
      λ¬΄μ—‡μ΄λ“  ν΄λ¦­ν•λ©΄ νμ›κ°€μ…μΌλ΅ λ„μ–΄κ°€λ„λ΅!-->
    <% include ./../layout/loginheader.ejs %>
    <% include ./../layout/category.ejs %>

    <div>
      <div class="row">
        <div class="col-2" >
          <!-- μ•μ— λ“¤μ–΄κ°€λ” λ‚΄μ©μ heightμ΄ 500px λ―Έλ§μ΄λ©΄ style="height: 500px" μ΄λ ‡κ² μ„¤μ •-->
          <% include ./../layout/mypgmenubar.ejs %>
        </div>
        <div class="col-10" >
          <div class="row">
            <h6 id="navtext">HOME > λ§μ΄νμ΄μ§€ > κµ¬λ§¤λ‚΄μ—­</h6>
            </div>
            <form class="validation-form"  id = "myorder" action="myorder" method = "post" >
              <div id="main">
                <div class="col-md-12">
                  <h5 class="mt-2 mb-3" style="font-weight: bold;">π’– <%= user.name %> λ‹μ κµ¬λ§¤ λ‚΄μ—­ π’–</h5>
                  <h6 style="font-size: 10pt;"> μƒν’λ…μ„ ν΄λ¦­ν•λ©΄ μƒμ„Έλ‚΄μ—­μ„ ν™•μΈν•  μ μμµλ‹λ‹¤.</h6>
                <table id="myordertable" width="90%">
                  <tbody>
                    <tr bgcolor="#DFE7F6" align="center">  
                      <th>λ²νΈ</th>
                      <th>μƒν’λ…</th>
                      </tr>
                  <% for(var i=0; i < row.length; i++) {  
                    %>
                    <tr>
                      <td align="center" ><p alt="λ²νΈ"  onclick="toproduct(<%= row[i].id %>)"><%= row[i].productId %></p></td>
                      <td align="center" ><p alt="μƒν’λ…" onclick="toproduct(<%= row[i].id %>)"><%= row[i].productName %></p></td>
                    </tr>
                    <% } %>
                  </tbody>
                </table>

               </div>
            </div>
            </form>
          </div>
        </div>
      </div>
          

          
            

        </div>
      </div>
    </div>
  
  
  </body>
  <% include ./../layout/footer.ejs %>
</html>

<script>
  function toproduct(id){
    console.log(id);
    location.href="/consumer/mypurchase/" +id;
  }
</script>