<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" 
    rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
    crossorigin="anonymous">

    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>


    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- index.js는 회원가입이 안 되어 있는 곳 = 홈화면이 보이긴 하나,
      무엇이든 클릭하면 회원가입으로 넘어가도록!-->
      <% include ./../layout/loginheader.ejs %>
      <% include ./../layout/category.ejs %>
  
      <div>
        <div class="row" style="height: 500px;">
          <div class="col-2" >
            <!-- 안에 들어가는 내용의 height이 500px 미만이면 style="height: 500px" 이렇게 설정-->
            <% include ./../layout/mypgmenubar.ejs %>    
    <div class="container">
        <div class="input-form-backgroud row">
          <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">구매 내역</h4>
            <form name="read" class="validation-form"  enctype="multipart/form-data" id = "pageRead" action="" method = "post" >
            <table class="table">
                <tbody>
                   
                  <tr>  
                    <th>구매일</th>
                    <th>상품 번호</th>
                    <th>상품명</th>
                    <th>다운로드</th>
                    <th>리뷰/문의</th>
                </tr>
                <tr>  
                  <td><p alt="구매일"><%=row.date %></p></td>
                  <td><p alt="상품 번호" ><%=row.productId %></p></td>
                  <td><p alt="상품명" onclick="toproduct(<%= row.productId %>)"><%=row.productName %></p></td>
                  <td><p alt="다운로드">
                    <!-- <input type="hidden" name="count" id="count" value=""> -->
                    <%if(today <= row.downEndDate) {%>
                    <a href="/images/<%=product.fileurl%>" download="<%=product.name %>">
                      <button type="button" id="downloadfile" class="btn btn-primary mb-3"
                      >다운받기</button>
                    <%}%>  
                    <%if(today > row.downEndDate) {%>
                        <button type="button" id="downloadfile" class="btn btn-primary mb-3"
                        onclick="btnClick()">다운받기</button>
                      <%}%> 
                    </a><p><%=row.date %> ~ <%=row.downEndDate%></p>
                  </p>
                    
                  </td>
                  <td><p alt="리뷰쓰기">
                    <%if (review==null){
                      %>
                    <button type="button" id="reviewwrite" class="btn btn-primary mb-3" onclick="reviewWrite(<%= row.id %>)">리뷰쓰기</button>
                    <%}%>

                    <%if (review!=null){
                      %>
                    <button type="button" id="reviewwrite" class="btn btn-primary mb-3" onclick="reviewRead(<%= row.id %>)">리뷰보기</button>
                    <%}%>

                    <button type="button" id="reviewwrite" class="btn btn-primary mb-3">문의하기</button>

                  </p>
                  <p id="rescount" name="rescount"></p>
              </tr>
                    
                </tbody>
              </table>
              </form>

          </div>
        </div>
  </body>
</html>

<script>
  var max = 7;
  var count = 0;
  function btnClick(){
    alert('다운로드 기한이 끝났습니다.');
  }

  function toproduct(id){
    console.log(id);
    location.href="/consumer/details/" +id;
  }

  function reviewWrite(id){
    location.href="/consumer/reviewrite/" + id;
  }

  function reviewRead(id){
    location.href="/consumer/reviewRead/" + id;
  }
</script>